<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.ProductBrand">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, `desc`
  </sql>
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM brand
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    DELETE FROM brand
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="add" parameterType="com.breeze.pojo.ProductBrand">
    INSERT INTO brand (id, `name`, `desc`
      )
    VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
    <update id="update" parameterType="com.breeze.pojo.ProductBrand">
    UPDATE brand
    SET `name` = #{name,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findAll" resultType="com.breeze.pojo.ProductBrand">
        SELECT
        <include refid="Base_Column_List" />
        FROM brand
    </select>
</mapper>