<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.FeedbackMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.Feedback">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="feedback_type_id" jdbcType="BIGINT" property="feedbackTypeId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_id , order_id, content, feedback_type_id, create_time
  </sql>

    <select id="findAll" resultType="com.breeze.pojo.Feedback">
        SELECT
        <include refid="Base_Column_List"/>
        FROM feedback
    </select>

    <select id="findByUserId" parameterType="java.lang.Long" resultType="com.breeze.pojo.Feedback">
        SELECT
        <include refid="Base_Column_List"/>
        FROM feedback
        WHERE user_id = #{userId}
    </select>

    <select id="findById" parameterType="java.lang.Long" resultType="com.breeze.pojo.Feedback">
        SELECT
        <include refid="Base_Column_List"/>
        FROM feedback
        WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.breeze.pojo.Feedback" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO feedback(
        <include refid="Base_Column_List"/>
        ) VALUES (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT},
        #{content,jdbcType=VARCHAR},#{feedbackTypeId,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP});
    </insert>

    <update id="update" parameterType="com.breeze.pojo.Feedback">
        UPDATE feedback
        SET content = #{content}
        WHERE id = #{id};
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM feedback
        WHERE id = #{id};
    </delete>

</mapper>