<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.FeeValueTypeMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.FeeValueType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`
  </sql>
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fee_value_type
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    DELETE FROM fee_value_type
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="add" parameterType="com.breeze.pojo.FeeValueType">
    INSERT INTO fee_value_type (id, `name`)
    VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
    <update id="update" parameterType="com.breeze.pojo.FeeValueType">
    UPDATE fee_value_type
    SET `name` = #{name,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>