<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.NewProductRequestMapper">

    <resultMap id="BaseResultMap" type="com.breeze.pojo.NewProductRequest">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId"/>
        <result column="product_brand_id" jdbcType="BIGINT" property="productBrandId"/>
        <result column="product_origin_id" jdbcType="BIGINT" property="productOriginId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status_id" jdbcType="BIGINT" property="statusId"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,product_category_id,product_brand_id,product_origin_id,`name`,description,status_id,comment,create_time
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="newProductRequest.id" parameterType="com.breeze.pojo.NewProductRequest">
        INSERT INTO new_product_request (
            <include refid="Base_Column_List"/>
        ) VALUES (
            #{newProductRequest.id,jdbcType=BIGINT},
            #{newProductRequest.productCategoryId,jdbcType=INTEGER},
            #{newProductRequest.productBrandId,jdbcType=INTEGER},
            #{newProductRequest.productOriginId,jdbcType=INTEGER},
            #{newProductRequest.name,jdbcType=VARCHAR},
            #{newProductRequest.description,jdbcType=VARCHAR},
            #{newProductRequest.statusId,jdbcType=INTEGER},
            #{newProductRequest.comment,jdbcType=VARCHAR},
            #{newProductRequest.createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="findAll" resultType="com.breeze.pojo.NewProductRequest">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            new_product_request
    </select>

    <select id="findById" parameterType="java.lang.Long" resultType="com.breeze.pojo.bo.NewProductRequestBO">
        SELECT
            <include refid="Base_Column_List"/>
        FROM new_product_request WHERE id=#{id}
    </select>

    <select id="findAllNewProductRequest" resultType="com.breeze.pojo.bo.NewProductRequestBO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM new_product_request WHERE status_id = 1
    </select>

    <select id="findAllDeniedProductRequest" resultType="com.breeze.pojo.bo.NewProductRequestBO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM new_product_request WHERE status_id = 3
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM new_product_request WHERE id = #{id}
    </delete>



</mapper>