<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.Order">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="buyer_id" jdbcType="BIGINT" property="buyerId"/>
        <result column="seller_id" jdbcType="BIGINT" property="sellerId"/>
        <result column="seller_fee" jdbcType="LONGVARCHAR" typeHandler="com.breeze.util.MybatisJsonTypeHandler" property="sellerFee"/>
        <result column="buyer_fee" jdbcType="LONGVARCHAR" typeHandler="com.breeze.util.MybatisJsonTypeHandler" property="buyerFee"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, price, buyer_id, seller_id, seller_fee, buyer_fee,create_time
  </sql>
    <select id="findById" parameterType="java.lang.Long" resultType="com.breeze.pojo.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `order`
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findAll" parameterType="java.lang.Long" resultType="com.breeze.pojo.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `ORDER`
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM `order`
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="add" parameterType="com.breeze.pojo.Order">
    INSERT INTO `order` (id, price,buyer_id, seller_id,
    seller_fee, buyer_fee,create_time)
    values (#{id,jdbcType=BIGINT}, #{price,jdbcType=DECIMAL}, #{buyerId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT},
    #{sellerFee,typeHandler=com.breeze.util.MybatisJsonTypeHandler}, #{buyerFee,typeHandler=com.breeze.util.MybatisJsonTypeHandler}, #{createTime,jdbcType=TIMESTAMP}
  </insert>
    <update id="update" parameterType="com.breeze.pojo.Order">
    UPDATE `order`
    SET price = #{price,jdbcType=DECIMAL},
    buyer_id = #{buyerId,jdbcType=BIGINT},
    seller_id = #{sellerId,jdbcType=BIGINT},
    seller_fee = #{sellerFee,jdbcType=LONGVARCHAR},
    buyer_fee = #{buyerFee,jdbcType=LONGVARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
    <select id="findSalesQuantity" resultType="java.lang.Long">
        SELECT COUNT(o.seller_id) FROM `order` o WHERE  o.status_id=1 AND o.seller_id=#{userId,jdbcType=BIGINT} GROUP BY o.seller_id
    </select>
    <select id="findPurchaseQuantity" resultType="java.lang.Long">
        SELECT COUNT(o.buyer_id) FROM `order` o WHERE  o.status_id=1 AND o.buyer_id=#{userId,jdbcType=BIGINT} GROUP BY o.buyer_id
    </select>

    <select id="findBuyerPaysDeposit" resultType="com.breeze.pojo.bo.AmountBO">
        SELECT t.amount amount,t.create_time createTime
        FROM `transaction` t
        JOIN product_bid_deposit_transaction pbdt ON pbdt.transaction_id=t.id
        JOIN product_bid pb ON pb.id=pbdt.product_bid_id
        JOIN `order` o ON o.id=t.out_trade_no
        WHERE pb.user_id=#{buyerId,jdbcType=BIGINT} AND pb.user_id=o.buyer_id
    </select>
    <select id="findSellerPaysDeposit" resultType="com.breeze.pojo.bo.AmountBO">
        SELECT t.amount,t.create_time createTime
        FROM `order` o
		JOIN `transaction` t  ON o.id=t.out_trade_no
        JOIN product_ask_deposit_transaction padt ON padt.transaction_id=t.id
        JOIN product_ask pa ON pa.id=padt.product_ask_id
        WHERE pa.user_id=#{sellerId,jdbcType=BIGINT} AND o.seller_id=pa.user_id
    </select>
    <select id="findOrderByStatusId" parameterType="java.lang.Long" resultType="com.breeze.pojo.bo.OrderBO">
        SELECT o.id id,buyer.id buyerId,buyer.`name` buyerName,seller.id sellerId,seller.name sellerName,p.id productId,p.name productName,pi.url masterPicture,o.price totalPrices,ost2.id statusId,ost2.`name` statusName,depositTime.create_time depositTime,paymentTime.create_time paymentTime
        FROM `order` o
        JOIN `user` buyer ON buyer.id=o.buyer_id
        JOIN `user` seller ON seller.id=o.seller_id
        JOIN product_order po ON po.order_id=o.id
        JOIN product p ON p.id=po.product_id
        JOIN product_image pi ON pi.product_id =p.id
        JOIN order_status os ON os.order_id=o.id
        JOIN order_status_type ost ON ost.id=os.status_type_id
        JOIN order_state_type ost2 ON ost.order_state_id=ost2.id
        JOIN order_deposit_transaction odt ON odt.order_id =o.id
        JOIN order_payment_transaction opt ON opt.order_id =o.id
        JOIN `transaction` depositTime ON depositTime.id=odt.transaction_id
        JOIN `transaction` paymentTime ON paymentTime.id=opt.transaction_id
        WHERE ost2.id={status,jdbcType=BIGINT}
    </select>
</mapper>