<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.OrderDepositTransactionMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.OrderDepositTransaction">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="transaction_id" jdbcType="BIGINT" property="transactionId"/>
        <result column="is_seller" jdbcType="TINYINT" property="isSeller"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_id, transaction_id, is_seller, create_time
  </sql>
    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_deposit_transaction
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM order_deposit_transaction
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="add" keyColumn="id" keyProperty="id" parameterType="com.breeze.pojo.OrderDepositTransaction"
            useGeneratedKeys="true">
    INSERT INTO order_deposit_transaction ( order_id, transaction_id,
      is_seller, create_time)
    VALUES ( #{orderId,jdbcType=BIGINT}, #{transactionId,jdbcType=BIGINT},
      #{isSeller,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="update" parameterType="com.breeze.pojo.OrderDepositTransaction">
    UPDATE order_deposit_transaction
    SET order_id = #{orderId,jdbcType=BIGINT},
    transaction_id = #{transactionId,jdbcType=BIGINT},
    is_seller = #{isSeller,jdbcType=TINYINT},
    create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
    <select id="findByOrderId" resultType="com.breeze.pojo.bo.AmountBO">
     SELECT t.amount amount,t.create_time createTime
     FROM order_deposit_transaction odt
	 JOIN `transaction` AS t ON t.id=odt.transaction_id
     WHERE odt.order_id =#{orderId,jdbcType=BIGINT}
    </select>
</mapper>