<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.OrderPaymentTransactionMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.OrderPaymentTransaction">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="transaction_id" jdbcType="BIGINT" property="transactionId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_id, transaction_id, create_time
  </sql>
    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_payment_transaction
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM order_payment_transaction
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="add" parameterType="com.breeze.pojo.OrderPaymentTransaction">
    INSERT INTO order_payment_transaction (id, order_id, transaction_id,
      create_time)
    VALUES (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{transactionId,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="update" parameterType="com.breeze.pojo.OrderPaymentTransaction">
    UPDATE order_payment_transaction
    SET order_id = #{orderId,jdbcType=BIGINT},
      transaction_id = #{transactionId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
    <select id="findByOrderId" parameterType="java.lang.Long" resultType="com.breeze.pojo.bo.AmountBO">
    SELECT distinct(t.amount) amount,t.create_time createTime
    FROM order_payment_transaction opt
	JOIN `transaction` AS t ON t.id=opt.transaction_id
    WHERE opt.order_id =#{orderId,jdbcType=BIGINT}
    </select>
</mapper>