<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.ProductImageMapper">

    <resultMap id="BaseResultMap" type="com.breeze.pojo.ProductImage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="is_master" jdbcType="TINYINT" property="isMaster"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, product_id, description, url, `order`, is_master, create_time, modified_time
  </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_image
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM product_image
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>

    <delete id="deleteByProductId" parameterType="java.lang.Long">
        DELETE FROM product_image
        WHERE product_id = #{productId,jdbcType=BIGINT}
    </delete>

    <insert id="add" parameterType="com.breeze.pojo.ProductImage">
    INSERT INTO product_image (id, product_id, description,
      url, `order`, is_master,
      create_time, modified_time)
    VALUES (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, #{isMaster,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>

    <update id="update" parameterType="com.breeze.pojo.ProductImage">
    UPDATE product_image
    SET product_id = #{productId,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=INTEGER},
      is_master = #{isMaster,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findProductImageInfoByproductCategoryId" parameterType="integer"
            resultType="com.breeze.pojo.bo.ProductImageInfoBO">
        SELECT
            p.*,
            p.name AS productName,
            p.image_folder AS imagefolder,
            p.id AS productId,
            pi.id AS productImageId,
            pi.url AS productImageUrl
        FROM
	        product p
	    LEFT JOIN product_image pi ON p.id = pi.product_id
        WHERE
	    p.product_category_id =#{product_category_id}
    </select>

    <select id="findMaxPictureNumber" resultType="int">
        SELECT COUNT(*) AS number FROM product_image WHERE product_id=#{product_id};
    </select>
    <select id="findMasterPictureByProductId" resultType="java.lang.String">
        SELECT url FROM product_image WHERE is_master = 1 AND product_id=#{product_id};
    </select>
    <select id="findProductAllImageByProductId" resultType="com.breeze.pojo.ProductImage">
        SELECT url FROM product_image WHERE product_id=#{productId,jdbcType=BIGINT} ORDER BY is_master DESC,`order` ASC;
    </select>
</mapper>