<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.ProductCategoryMapper">

    <resultMap id="BaseResultMap" type="com.breeze.pojo.ProductCategory">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        `name`
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="productCategory.id">
        INSERT INTO product_category (
            id,
            `name`
        ) VALUES (
            #{productCategory.id,jdbcType=INTEGER},
            #{productCategory.name,jdbcType=VARCHAR}
        )
    </insert>


    <update id="update" parameterType="com.breeze.pojo.ProductCategory">
        UPDATE product_category
        <set>
            <if test="productCategory.name != null">`name`= #{productCategory.name,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{productCategory.id,jdbcType=INTEGER}
    </update>

    <select id="findAll" resultType="com.breeze.pojo.ProductCategory">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_category;
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_category WHERE id = #{id,jdbcType=INTEGER}

    </select>

    <delete id="deleteById">
        DELETE FROM  product_category
        WHERE id=#{id,jdbcType=INTEGER}
    </delete>
</mapper>