<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.UserTypeMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.UserType">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        `name`
    </sql>
    <insert id="add" parameterType="com.breeze.pojo.UserType">
       INSERT INTO user_type (`name`) VALUES(#{name});
    </insert>
    <update id="update">
        UPDATE user_type
        <set>
            <if test="id != null">id= #{id,jdbcType=INTEGER},</if>
            <if test="name != null">`name`= #{name,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAll" resultType="com.breeze.pojo.UserType" resultMap="BaseResultMap">
        SELECT * FROM user_type
    </select>
    <select id="findById" parameterType="Long" resultType="com.breeze.pojo.UserType">
        SELECT id, `name` FROM user_type WHERE id=#{id};
    </select>
    <delete id="deleteById">
        DELETE FROM user_type
        WHERE id=#{id,jdbcType=INTEGER}
    </delete>
</mapper>