<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.UserAddressMapper">

    <resultMap id="BaseResultMap" type="com.breeze.pojo.UserAddress">
        <result column="id" property="id"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="name" property="userName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" javaType="BOOLEAN"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        user_id,
        `name`,
        address,
        city,
        province,
        phone,
        is_default
    </sql>

    <insert id="add" parameterType="com.breeze.pojo.UserAddress" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                `name`,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null and userName != ''">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="city != null and city != ''">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="findAll" resultType="com.breeze.pojo.UserAddress" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_address
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_address
        WHERE id = #{id}
    </select>

    <select id="findByUserId" resultType="com.breeze.pojo.UserAddress" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_address
        WHERE user_id=#{userId}
        ORDER BY `is_default` DESC
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM user_address
        WHERE id=#{id,jdbcType=BIGINT}
    </delete>
    <update id="update" parameterType="com.breeze.pojo.UserAddress">
        UPDATE user_address
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT} ,
            </if>
            <if test="userName != null">
                `name` = #{userName,jdbcType=VARCHAR} ,
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR} ,
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR} ,
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR} ,
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault,jdbcType=TINYINT}
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT};

    </update>
    <select id="findDefaultAddressByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        user_address
        WHERE
        is_default =1
        AND
        user_id = #{userId,jdbcType=BIGINT}
    </select>

    <update id="updateIsDefault">
        UPDATE user_address
        SET is_default = 0
        WHERE user_id = #{userId}
    </update>
</mapper>