<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.UserProductFavorateMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.UserProductFavorate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, product_id, user_id, create_time
  </sql>
    <select id="findByUserIdAndProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_product_favorate
        WHERE product_id = #{productId,jdbcType=BIGINT}
        AND user_id = #{userId , jdbcType=BIGINT }
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM user_product_favorate
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="add" parameterType="com.breeze.pojo.UserProductFavorate">
    INSERT INTO user_product_favorate (id, product_id, user_id,
      create_time)
    VALUES (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="update" parameterType="com.breeze.pojo.UserProductFavorate">
    UPDATE user_product_favorate
    SET product_id = #{productId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_product_favorate
        where user_id=#{userId,jdbcType=BIGINT}
    </select>

    <select id="findByProductId" resultType="com.breeze.pojo.bo.ProductBO" parameterType="java.lang.Long">
        SELECT
             `product`.`id` AS productId,
             `product_category`.`name` AS productCategoryName,
             `product`.`description` AS description,
             `product`.`name` AS productName,
             MIN(`product_ask`.`price`) AS price,
             `product_image`.`url` AS masterPicture
        FROM
            `product_image`
             JOIN `product`
                ON (`product_image`.`product_id` = `product`.`id`)
             JOIN `product_ask`
                ON (`product_ask`.`product_id` = `product`.`id`)
             JOIN `product_category`
                ON (`product`.`product_category_id` = `product_category`.`id`)

        WHERE `product`.`id` = #{productId}
        AND `product_image`.is_master = 1
        GROUP BY `product_ask`.`product_id`, `product_image`.`url`;
    </select>
    <select id="userFavorateNumber" resultType="java.lang.Long" >
         SELECT COUNT(*) FROM user_product_favorate puf WHERE puf.user_id=#{userId,jdbcType=BIGINT} GROUP BY puf.user_id
    </select>

    <select id="findByProductFavorateCounts" resultType="com.breeze.pojo.bo.ProductManageBO">
        SELECT
        	puf.product_id AS pid ,
        	COUNT(puf.id) AS userFavorateCounts
        FROM
        	user_product_favorate AS puf
        GROUP BY
        	puf.product_id
    </select>
</mapper>