<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.mapper.UserImageMapper">
    <resultMap id="BaseResultMap" type="com.breeze.pojo.UserImage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,user_id,url,description,create_time,modified_time
    </sql>

    <select id="findAll" resultType="com.breeze.pojo.UserImage">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_image
    </select>

    <select id="findByUserId" resultType="com.breeze.pojo.dto.UserImageDTO" parameterType="java.lang.Long">
        SELECT
        	u.avatar_url AS userAvatar,
        	u.name AS userName,
        	u.phone AS phone,
        	ui.description AS description,
        	ui.url AS userImageUrl,
        	ui.create_time AS createTime,
        	ui.modified_time AS modifiedTime

        FROM
        	user_image AS ui
        	JOIN `user` AS u
        	ON (u.id = ui.user_id)
        WHERE
        	ui.user_id = #{userId}
        GROUP BY ui.id
        ORDER BY ui.create_time DESC
    </select>
    
    <select id="findById" resultType="com.breeze.pojo.UserImage" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_image
        WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.breeze.pojo.UserImage">
        INSERT INTO user_image (id , user_id , url , description , create_time , modified_time)
        VALUES (#{id} , #{userId} , #{url} , #{description} , #{createTime} , #{modifiedTime});
    </insert>

    <update id="update" parameterType="com.breeze.pojo.UserImage">
        UPDATE user_image SET user_id = #{userId} , url = #{url} , description = #{description}
         , modified_time = #{modified_time}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM user_image WHERE id = #{id}
    </delete>

</mapper>